<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.clintonstrong.SearchTabs</string>
	<key>connections</key>
	<dict>
		<key>0E88E3D0-4E7B-48B2-88ED-5CF0EBD76F5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73C183A0-4D38-4DA7-A383-F36A5C7CBB95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1F537C5E-7F6F-4B71-987D-DAF5775545CF</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Close this tab</string>
			</dict>
		</array>
		<key>1D3AC690-8936-40C9-95DD-628CF2A811C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E88E3D0-4E7B-48B2-88ED-5CF0EBD76F5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Clinton Strong</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Safari and Chrome Tabs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby actions/activate.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>73C183A0-4D38-4DA7-A383-F36A5C7CBB95</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>36</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>↩</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1D3AC690-8936-40C9-95DD-628CF2A811C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tabs</string>
				<key>runningsubtext</key>
				<string>Retrieving tabs...</string>
				<key>script</key>
				<string>ruby filter.rb "{query}"</string>
				<key>subtext</key>
				<string>Search tabs in Safari and Chrome</string>
				<key>title</key>
				<string>Search tabs...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0E88E3D0-4E7B-48B2-88ED-5CF0EBD76F5D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby actions/close.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F537C5E-7F6F-4B71-987D-DAF5775545CF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0E88E3D0-4E7B-48B2-88ED-5CF0EBD76F5D</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>1D3AC690-8936-40C9-95DD-628CF2A811C6</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>1F537C5E-7F6F-4B71-987D-DAF5775545CF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>73C183A0-4D38-4DA7-A383-F36A5C7CBB95</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://clintonstrong.com</string>
</dict>
</plist>
